@charset "UTF-8";
@font-face{
    font-family: fonte;
    src: url(idroid.otf) format('truetype');
}
html{
    background-color: rgb(238, 238, 158);
    overflow-y: scroll;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.centro{
    text-align: center;
    color: white;
    
}   

#degrade{
    background-color: green;
    padding: 50px;
    border: 57px;
    margin: -53px;
    background-image: linear-gradient(to top, #064023, #0c7f38, #12bf46);

}
a{
    color: white;
    text-align: left;
    padding: 1px;
    border: 1px;
    margin: 20px;
    display: inline-block; 
    text-decoration: none;
    font-size: 20px;
    
}

a:hover{
        background-color: #1a8041;
     }

main{
    background-color: white;
    padding: 19px;
    margin: 53px;
    border-radius: 9px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* Defina a largura desejada */
}
video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
section{
    background-color: rgb(8, 179, 73);
    padding: 19px;
    margin: 165px;
}
